.body{

    background-color: map-get($commonColors , mainColor);

}

.main{
    @include customDisplay(flex, row);
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; 
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 400%;
        font-weight: bold;
        color: white;
    }
    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 200%;
        font-weight: bold;
        color: white; 
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: map-get($commonColors, titlesColor);
    }
}

.titulo{
    width: 100%;
    @include customDisplay(flex, column);
    align-items: center;
    justify-content: center;
    text-align: center;
    img{
        width: 70px;
        height: 70px;
        padding-top:30px;
    }
  
}
h1{
    color: map-get($commonColors, titlesColor);
}

h3{
    color: map-get($commonColors, titlesColor); 
}

h4{
    color: map-get($commonColors, titlesColor); 
}

h6{
    color:  map-get($commonColors, titlesColor);
}

.imagenes{
    display:flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 20px;
}
.imagen--grande{
    width: 100%;
    justify-content: space-around;
    a{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    
}


/*extendiendo de imagen--grande los atributos width y justify content, el resto se sobreescribe*/
.imagenes--pequeñas{
    @extend .imagen--grande;
    height: 100%; 
    @include customDisplay(flex, column);
    justify-items: center;
    a{
        height: 100%;
        img{
            width: 100%;
            height: 100%;        
        }
    }
    iframe{
        width: 100%;
        height: 100%;
    }
    
}

.bestSellers{
    @include customDisplay(flex, column);
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    

}

.bestImages{
    width: 100%;
    img{
        width: 100%;
    }
    
  
}

.rowMarginCero{
    margin:0;
}


