.review{
    width: 100%;
    height: 100%;
}

.mb-3 label{
    color:white;
}

.myReview{
    display: flex;
    justify-content: center;
}

.stars{
    width: 10%;
    height: 2%;
}

/*
.header ul li{
    flex-direction: row;

}*/

.card-text-negro{
    color:black;
}