.contact {

    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas:
        "contactForm contactInfo"
        "map location";
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.contactForm {
    grid-area: contactForm;
    @include customDisplay(flex, column);

    ul {
        @include customDisplay(flex, column);

        li {
            textarea {
                width: 500px;
            }
        }
    }

}


.contactInfo {
    grid-area: contactInfo;
    @include customDisplay(flex, column);
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.map {
    grid-area: map;
}


.location {
    grid-area: location;
    @include customDisplay(flex, column);
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}