.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    .footer__platforms{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


}