.body{

    background-color: #363636;

}
.header{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;
    width: 100%;
   
}

.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
  
}

.review{
    width: 100%;
    height: 100%;
}

.mb-3 label{
    color:white;
}

.myReview{
    display: flex;
    justify-content: center;
}

.stars{
    width: 10%;
    height: 2%;
}


.header ul li{
    flex-direction: row;

}

.card-text-negro{
    color:black;
}



.header ul li a{
    text-decoration: solid;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: all 1s;
}

.header ul li a:hover{
   
    transform:scale(1.2,1.2);
}




.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; 
}

.main h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
    font-weight: bold;
    color: white;
}

.main h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: white;
}

.main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: rgb(204, 204, 204);
   
}


.form{
    padding-bottom: 30px;
    padding-top:30px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}

.form label{
    color: white;
}

.contact{
   
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: 
    "contactForm contactInfo"
    "map location";
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.contactForm{
    grid-area: contactForm;
    display: flex;
    flex-direction: column;
    
}

.contactForm form ul li textarea{
    width:500px;
}

.contactForm ul{
    display: flex;
    flex-direction: column;
}

.contactInfo{
    grid-area: contactInfo;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
}

.map{
    grid-area:map;
}


.location{
    grid-area:location;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
}

.botonNaranja{
    background-color: orange;
    color: white;
}

.myCheck{
    color:white;
}



.titulo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    color: rgb(204, 204, 204);
}

h6{
    color: rgb(204, 204, 204);
}


.titulo img{
    width: 70px;
    height: 70px;
    padding-top:30px;
}

.imagenes{
    display:flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 20px;

}

.bodyColumn{
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;

}



.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}

.product img{
    width: 300x;
    height: 300px;
    transition: all, 1s;

}



.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}



.imagen__grande{
    width: 100%;
    justify-content: space-around;
    
  
}



.imagen__grande a{
    width: 100%;
    height: 100%;
    

 
}

.imagen__grande a img{
    width: 100%;
    height: 100%;
 
  

}

.navbar{
    background-color: #363636;
    color: red;

}

.imagenes__pequeñas{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    
}


.imagenes__pequeñas a img{
    width: 100%;
    height: 100%;
   

}

.imagenes__pequeñas iframe{
    width: 100%;
    height: 100%;

}

.imagenes__pequeñas a{
    height: 100%;
}

.bestSellers{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    

}

.bestImages{
    width: 100%;
    
  
}

.bestImages img{
    width: 100%;
}


.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: white;

}





.footer__platforms{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



@media screen and (max-width: 768px){
    .main p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: rgb(204, 204, 204)
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }
 




    .form{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

    }

    .form ul{
        flex-direction: column;
        justify-content: center;
    }

    .form ul li{
        text-align: center;
    }

    
    .products{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%
    }
   
    .header{
        width: 100%;
        grid-area: header;
    }

    .header ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
      
    }

    .header ul li{
        text-align: center;
    }

    .header ul li a{
        text-decoration: solid;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
    }

    .imagenes{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .bodyColumn img{
        width:200px;
        height:200px;
    }

    .bodyColumn p{
        font-size: 10px;
    }

    .bodyColumn{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
       
       
    }

    .main p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: rgb(204, 204, 204);
    
    }

 

    .main h1{
        font-size: 200%;
    }

    .titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   

    .bestImages{
        flex-direction: column;
    }
    .bestSellers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contactForm{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        
    }

    .form{
        display: flex;
        flex-direction: column;
    }

    .form ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form ul li{
        text-align: center;
    }

    
    
    
    .contactForm ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    
    .contactInfo{
       text-align: center;
    }
    
    .map{
        width: 200px;
        height: 200px;
    }
   
    
    
    .location{
        text-align: center;
        
    }

    .location p{
        text-align: center;
    }
    


}


