@charset "UTF-8";
/*rgb(204, 204, 204)*/
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  text-decoration: solid;
  color: #7b6e6e;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

.footer__platforms {
  display: flex;
  align-items: center;
  justify-content: space-around; }

/*.header{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;
    width: 100%;
    nav{
        div{
            div{
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    list-style-type: none;
                  
                    li{
                        flex-direction: row;
                      
                        a{
                            text-decoration: solid;
                            color: black;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            transition: all 1s;
                            &:hover{
                                transform:scale(1.2,1.2);
                            }
                        }
                        
                    }
                    
                  
                }

            }
        }
    }
    
 
   
}*/
.body {
  background-color: #363636; }

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }
  .main h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
    font-weight: bold;
    color: white; }
  .main h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: white; }
  .main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #cccccc; }

.roundedImage {
  border-radius: 3%; }

.titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .titulo img {
    width: 70px;
    height: 70px;
    padding-top: 30px; }

.creators a img {
  width: 100%;
  height: 100%; }

h1 {
  color: #cccccc; }

h3 {
  color: #cccccc; }

h4 {
  color: #cccccc; }

h5 {
  color: #cccccc; }

h6 {
  color: #cccccc; }

.imagenes {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-bottom: 20px; }

.resaltar {
  font-size: 20px;
  color: white; }

.imagen--grande, .imagenes--pequeñas {
  justify-content: center;
  align-items: center; }
  .imagen--grande a img, .imagenes--pequeñas a img {
    width: 100%;
    height: 100%;
    border-radius: 3%; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

/*extendiendo de imagen--grande los atributos width y justify content, el resto se sobreescribe*/
.imagenes--pequeñas {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: space-between;
  padding-left: 10%; }
  .imagenes--pequeñas iframe {
    width: 100%;
    height: 100%; }

.imagen--pequeña__abajo {
  width: 100%;
  height: 50%;
  padding-top: 6%; }

.imagen--pequeña a img {
  width: 100%;
  height: 100%; }

.bestSellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.bestSellers a img {
  width: 100%;
  height: 100%;
  border-radius: 5%; }

.bestImages {
  width: 100%; }
  .bestImages a {
    width: 100%; }
    .bestImages a img {
      width: 100%; }

.rowMarginCero {
  margin: 0; }

.review {
  width: 100%;
  height: 100%; }

.mb-3 label {
  color: white; }

.myReview {
  display: flex;
  justify-content: center; }

.stars {
  width: 10%;
  height: 2%; }

/*
.header ul li{
    flex-direction: row;

}*/
.card-text-negro {
  color: black; }

.form {
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .form label {
    color: white; }

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%; }

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px; }
  .product img {
    transition: all, 1s; }

.contact {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: "contactForm contactInfo" "map location";
  grid-column-gap: 15px;
  grid-row-gap: 15px; }

.contactForm {
  grid-area: contactForm;
  display: flex;
  flex-direction: column; }
  .contactForm ul {
    display: flex;
    flex-direction: column; }
    .contactForm ul li textarea {
      width: 500px; }

.contactInfo {
  grid-area: contactInfo;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center; }

.map {
  grid-area: map; }

.location {
  grid-area: location;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center; }

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .main p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      color: #cccccc; }
    .main h1 {
      font-size: 200%; }
  .resaltar {
    font-size: 20px;
    color: white; }
  .footer {
    flex-direction: column;
    text-align: center; }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; }
    .form ul {
      flex-direction: column;
      justify-content: center; }
      .form ul li {
        text-align: center; }
  .products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; }
  .header {
    width: 100%;
    grid-area: header; }
    .header ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      list-style-type: none; }
      .header ul li {
        text-align: center; }
        .header ul li a {
          text-decoration: solid;
          color: black;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          font-size: 20px; }
  .imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .imagen--pequeña {
    padding-top: 11%; }
  .bodyColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .bodyColumn p {
      font-size: 10px; }
    .bodyColumn img {
      width: 200px;
      height: 200px; }
  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .bestImages {
    flex-direction: column; }
  .bestSellers {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center; }
    .contactForm ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center; }
  .form {
    display: flex;
    flex-direction: column; }
    .form ul {
      display: flex;
      align-items: center;
      justify-content: center; }
      .form ul li {
        text-align: center; }
  .contactInfo {
    text-align: center; }
  .map {
    width: 200px;
    height: 200px; }
  .location {
    text-align: center; }
    .location p {
      text-align: center; } }
